html,body,form 
{
    margin:0;
    padding:0;
    height:100%;
}
.LoadingText{
    position: absolute;
    font-family: sarif;
    font-size: larger;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: 1%;    
}
.spnnrCntnr{   
  width:100%;
  height:100%;
  position:fixed;
  opacity: 0.5; 
  z-index: 9999;
  left:0px;
  top:0px;
  background-color:black;
}

.spnrContent { 
    height:100%;  
    color: white;    
    background-color: rgba(51, 51, 51, 0.78) ;      
    position: relative;
}